{
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "admin",
    "password": "test",
    "database": "test",
    "entities": ["entities/*.js"],
    "logging": true,
    "synchronize": true
  }